<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lfelne">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LFELNE">
        <activity
            android:name=".GeneralRollImageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StartingActivity"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RollInfoActivity"
            android:exported="false"
            android:theme="@style/OverlayTheme" />

        <meta-data
            android:name="android.app.lib_name"
            android:value="" />

        <activity
            android:name=".GeneralRollActivity"
            android:exported="false" />
        <activity
            android:name=".AddRollActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/PopUpTheme" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".StatsActivity"
            android:exported="false" />
        <activity
            android:name=".RollsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"></activity>
    </application>

</manifest>